{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <h2>Navigation</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'job_hunter:personal_data' %}">Personal Data</a></li>
      <li class="list-group-item"><a href="{% url 'job_hunter:offer_list' %}">Offers</a></li>
      <li class="list-group-item"><a href="{% url 'job_hunter:ai_assistant' %}">AI Assistant</a></li>
      <!-- <li class="list-group-item"><a href="{% url 'job_hunter:search' %}">Search</a></li> -->
    </ul>
    <small class="form-text text-muted mt-1">
      <strong>Hint:</strong> <br>1. Enter your personal data including your background <br>2. Add one or more job offers you are interested in and generate individualized applications <br>3. Chat with your personal AI-Assistant who will remeber everything you share with him and will help you with your application processes and preps
    </small>    
  </div>

  <div class="col-md-8">
    <h2>Dashboard</h2>
    {% if stats %}
      <ul class="list-group">
        <li class="list-group-item">Total Offers: {{ stats.total_offers }}</li>
        <li class="list-group-item">Responded Offers: {{ stats.responded_offers }}</li>
        <li class="list-group-item">Total Applications: {{ stats.total_applications }}</li>
        <li class="list-group-item">Open Applications: {{ stats.open_applications }}</li>
        <li class="list-group-item">Applied Applications: {{ stats.applied_applications }}</li>
        <li class="list-group-item">Rejected Applications: {{ stats.rejected_applications }}</li>
        <li class="list-group-item">Accepted Applications: {{ stats.accepted_applications }}</li>
      </ul>
    {% else %}
      <p>No data available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
