{% extends 'base.html' %}

{% block content %}
  <h2>Your Offers</h2>
  <ul>
    {% for offer in offers %}
      <li>
        <a href="{% url 'job_hunter:offer_detail' offer.pk %}">{{ offer.position }} at {{ offer.company }}</a>
        | <a href="{% url 'job_hunter:offer_edit' offer.pk %}">Edit</a>
        | <a href="{% url 'job_hunter:offer_delete' offer.pk %}" onclick="return confirm('Are you sure you want to delete this offer?');">Delete</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'job_hunter:offer_create' %}">Create new offer</a>

  <!-- Back Link -->
  <br><br>
  <a href="{% url 'job_hunter:dashboard' %}">Back to Dashboard</a>
{% endblock %}
